.venv
tf_venv
__pycache__/.pyc 
.vscode/.idea/ 
.vs 
.env 
mini_Projects

ML Course from ItechResearch/Ақылбай Ж.О..pdf

ML Course from ItechResearch/data
ML Course from ItechResearch/Lecture Tasks/data

ML Course from ItechResearch/my_hurdle_model_v1.joblib