vevn/.venv/
__pycache__/.pyc 
.vscode/.idea/ 
.vs 
.env 

ML Course from ItechResearch\Ақылбай Ж.О..pdf

ML Course from ItechResearch/data/spotify_songs.csv
ML Course from ItechResearch/data/spotify_songs_ready.csv
ML Course from ItechResearch/data/titanic.csv 